# Lab 8 Zip and Comprehension

Objectives:

1. Learn how to use zip and comprehension on collection datatypes

# Zip and Unzip
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

* iterate over several iterables in parallel, producing tuples with an item from each one. 
* returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument iterables

In [ ]:
list_a = [1,2,3,4]
list_b = ['a','b','c','d']
for item in zip(list_a, list_b):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
list_a = [1,2,3,4]
list_b = ['a','b','c','d']
list_c = ['i','ii','iii','iv']
zip_obj = zip(list_a, list_b,list_c)
for item in zip_obj:
  print(item)

(1, 'a', 'i')
(2, 'b', 'ii')
(3, 'c', 'iii')
(4, 'd', 'iv')

## zip with tuple

In [ ]:
tuple_a = ("John","Aliane", "Babes")
list_a = ["John","Aliane", "Babes"]
for i, j in zip(tuple_a,list_a):
  print(i,j)

John John
Aliane Aliane
Babes Babes

## zip with set

In [ ]:
set_a = {"John","Aliane", "Babes"}
list_a = ["John","Aliane", "Babes"]
for i, j in zip(set_a,list_a):
  print(i,j)

Babes John
Aliane Aliane
John Babes

##zip with dict

In [ ]:
dict_a = {1:"John",2:"Aliane", 3:"Babes"}
list_a = ["John","Aliane", "Babes"]
for i, j in zip(dict_a.items(),list_a):
  print(i,j)

(1, 'John') John
(2, 'Aliane') Aliane
(3, 'Babes') Babes

##**Unzip()**

zip() in conjunction with the * operator can be used to unzip a list.

In [ ]:

zip_obj = [('0001', 'John'), ('0024', 'Bobs'), ('0027', 'Janny')] 
id, name = zip(*zip_obj)
print(id)
print(name)
print(dict(zip_obj))

('0001', '0024', '0027')
('John', 'Bobs', 'Janny')
{'0001': 'John', '0024': 'Bobs', '0027': 'Janny'}

In [ ]:
dict_name = {'John':'Doe', 'Ann':'Edward'}
dict_job = {'Ann':'Engineer', 'John':'Accountant'}
for (name, lst), ()in zip()

#Exercise 1
Create the list of tuples with the first element being an index of the tuple and the second element being the element taken from “sector” at the tuple index position as follows: 



```
sector=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]


print(new_list)
```
Expected output:
```
[(0, 'Energy'), (1, 'Agriculture'), (2, 'Industry'), (3, 'Technology'), (4, 'Finance'), (5, 'Forestry'), (6, 'Transport')]
```

In [ ]:
sector=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

rng1 = list(range(0,len(sector)))
new_list = list(zip(rng1,sector))

print(new_list)

[(0, 'Energy'), (1, 'Agriculture'), (2, 'Industry'), (3, 'Technology'), (4, 'Finance'), (5, 'Forestry'), (6, 'Transport')]

#Exercise 2
Given the list of total_sales and prod_cost, write code to compute a list of  profit using zip function for parallel list traversing.

In [ ]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]
profit = []
for sales,cost in zip(total_sales,prod_cost):
  profit.append(sales - cost)
print(profit)

[5200.0, 5100.0, 4800.0]

# Comprehension
In Python, you can create a new list using list comprehensions It is a shorthand of the for loop.

In [ ]:
new_list = []
for x in range(5):
  new_list.append(x*x)
print(new_list)

[0, 1, 4, 9, 16]

In [ ]:
new_list_1 =  [x*x for x in range(5)]
print(new_list_1)

[0, 1, 4, 9, 16]

In [ ]:
lst = [row for row in ['a','b','c']]
print(lst)

['a', 'b', 'c']

##A list comprehension consists of brackets containing 
* An expression followed by 
* A for clause, 
* then Zero or more for or if clauses.

In [ ]:
new_list_1 =  [x*x for x in range(5) if x>2]
print(new_list_1)

[9, 16]

##Comprehension can be used to construct set and dict datatype as well.

In [ ]:
new_set_1 =  {x*x for x in range(15) if x>2} # Set comprehension
print(new_set_1)

{64, 121, 36, 100, 196, 9, 169, 16, 49, 81, 144, 25}

In [ ]:
new_dict_1 =  {x:x*x for x in range(15) if x>2} # Dict comprehension
print(new_dict_1)

{3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}

##However, comprehension can not be used to construct a tuple directly as tuple is an immutable datatype. 
***The workaround is to convert the resulting generator to tuple

In [ ]:
new_tuple_1 =  (x*x for x in range(15) if x>2) # This comprehension generates a generator object
print(new_tuple_1)

<generator object <genexpr> at 0x7fe38734bad0>

In [ ]:
print(tuple(new_tuple_1))

(9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196)

Similar to other components, comprehension can be nested.

In [ ]:
lstoflist = [[row+str(i) for row in ['a','b','c']] for i in [1,2,3]]
print(lstoflist)

[['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3']]

We can use list comprehension to extract a desired elements from the inner list of list of list.

In [ ]:
ind_list = [[1,2,3],['a','b','c'],['I','II','III']]
print(ind_list)

first_item_list = [ind_list[i][0] for i in range(len(ind_list))]

print(first_item_list)

first_item_list = #...

print(first_item_list)

[[1, 2, 3], ['a', 'b', 'c'], ['I', 'II', 'III']]
[1, 'a', 'I']
[1, 'I']

We can also use comprehension to create a set

In [ ]:
new_list_1 =  {x*x for x in range(5) if x>2}
print(new_list_1)

{16, 9}

*** Comprehension with else statement

In [ ]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

We can also use comprehension to create a dictionary

In [ ]:
usr_name = {'Adam':'Blackman','Bobs':'Deelan', 'Russell':'crowe'}
usr_age = {'Adam':23,'Bobs':25, 'Russell':45}
usr_dict = {name+' ' + lstname: usr_age[name] for (name, lstname) in usr_name.items()}
print(usr_dict)

{'Adam Blackman': 23, 'Bobs Deelan': 25, 'Russell crowe': 45}

#Exercise 3
Write one list comprehension statement to produce the following list
- list_a = [0 , 2, 4, 6, 8]
- list_b = [1 , 2, 4, 8, 16, 32]
- list_c = [0 , 1, 4, 9, 16, 25, 36, 49]
- list_d = [0 , 1, 1, 2, 3, 5, 8, 13, 21]

In [ ]:
list_a = [i for i in range(9) if i%2 ==0]
print(list_a)
list_b = [2**i for i in range(6)]
print(list_b)
list_c = [i**2 for i in range(8)]
print(list_c)

fibo = [0,1]
list_d = fibo[0:2] + [fibo.append(fibo[-1] + fibo[-2]) or fibo[-1] for i in range(7)]
print(list_d)

[0, 2, 4, 6, 8]
[1, 2, 4, 8, 16, 32]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 1, 2, 3, 5, 8, 13, 21]

#Exercise 4
Write the equivalent for-loop structure for the following code.



```
[(x,y) for x in [1,2,3] for y in [4,5,6] if x>1  and y>4]
```

In [ ]:
[(x,y) for x in [1,2,3] for y in [4,5,6] if x>1  and y>4]

[(2, 5), (2, 6), (3, 5), (3, 6)]

In [ ]:
list1 = []
for i in [1,2,3]:
  for j in[4,5,6]:
    if i>1 and j>4:
      list1.append((i,j))
print(list1)

[(2, 5), (2, 6), (3, 5), (3, 6)]

#Exercise 5
Write nested list comprehension code to get the following result?

```
print([[… for row in […]] for i in […]])
```
Expected result

1. 
```
[[‘a01’, ‘a02’, ‘a03’, ‘a04’], [‘b01’, ‘b02’, ‘b03’, ‘b04’], [‘d01’, ‘d02’, ‘d03’, ‘d04’], [‘z01’, ‘z02’, ‘z03’, ‘z04’]]
```
2. 
```
[[‘1101a’, ‘1102a’, …, ‘1110a’], [‘1101z’, ‘1102z’, …, ‘1110z’], [‘1101y’, ‘1102y’, …, ‘1110y’], [‘1101b’, ‘1102b’, …, ‘1110b’]]
```

In [ ]:
#1
print([[j+i for i in ['01','02','03','04']] for j in ['a','b','d','z']])

[['a01', 'a02', 'a03', 'a04'], ['b01', 'b02', 'b03', 'b04'], ['d01', 'd02', 'd03', 'd04'], ['z01', 'z02', 'z03', 'z04']]

In [ ]:
#2
print([[j+i for i in ['1101','1102','1103','1104','1105','1106','1107','1108','1109','1110']] for j in ['a','z','y','b']])

[['a1101', 'a1102', 'a1103', 'a1104', 'a1105', 'a1106', 'a1107', 'a1108', 'a1109', 'a1110'], ['z1101', 'z1102', 'z1103', 'z1104', 'z1105', 'z1106', 'z1107', 'z1108', 'z1109', 'z1110'], ['y1101', 'y1102', 'y1103', 'y1104', 'y1105', 'y1106', 'y1107', 'y1108', 'y1109', 'y1110'], ['b1101', 'b1102', 'b1103', 'b1104', 'b1105', 'b1106', 'b1107', 'b1108', 'b1109', 'b1110']]

# Question 1
Write code to merge the record data from the two dicts given below into one dict using by putting the value together as a tuple.

```
dict_name = {'John':'Doe', 'Ann':'Edwared', 'Harry':'Clifford'} 
dict_job = {'John':'Engineer', ’Ann':'Accountant', 'Harry':'Secretary’} 
dict_age = {'John’:50, ’Ann’: 45, 'Harry’: 46}
```
Expected output
```
{'John': ('Doe', 'Engineer'), 'Ann': ('Edwared', 'Accountant'), 'Harry': ('Clifford', 'Secretary')}
```

In [2]:
dict_name = {'John':'Doe', 'Ann':'Edwared', 'Harry':'Clifford'} 
dict_job = {'John':'Engineer', 'Ann':'Accountant', 'Harry':'Secretary'} 
dict_age = {'John':50, 'Ann': 45, 'Harry': 46}
tuplelist = []
keylist = []
for i in dict_name.keys():
  keylist.append(i)
for j, k in zip(dict_name.values(),dict_job.values()):
  tuplelist.append((j,k))
for l in range (0,len(keylist)):
  dict_age[keylist[l]] = tuplelist[l]
print(dict_age)

{'John': ('Doe', 'Engineer'), 'Ann': ('Edwared', 'Accountant'), 'Harry': ('Clifford', 'Secretary')}

#  Question 2
Write code to replace the following for loop with list comprehension


```
list_a = [1,2,3,4] 
list_b = ['one','two','three','four'] 
list_new = [] 
for a,b in zip(list_a,list_b): 
   list_new.append(str(a) + ' is ' + b + '.') 
   print(list_new)
```
Expected output
```
['1 is one.', '2 is two.', '3 is three.', '4 is four.']
```

In [10]:
list_a = [1,2,3,4] 
list_b = ['one','two','three','four']
print([(str(a)+' is '+b) for (a,b) in zip(list_a,list_b)])

['1 is one', '2 is two', '3 is three', '4 is four']